<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
<style>
    .button-square {
        background-color: #222222;
    }
    .site-title a {
        background-color: #222222;
    }

    .post-stub a {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 12px;
    }
    .post-stub a:hover {
        background: none;
        color: #222222;
        text-decoration: underline;
    }
    .post-stub-title:hover {
        text-decoration: underline;
    }
    .post-stub-date:before {
        content: "";
    }
</style>